#cinema {
  max-width: 600px;
  width: 100%;
  margin: 58px auto;
  .item-info {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 18px 0 0 10px;
    border-bottom: 1px solid #e3e3e3;
    font-size: 20px;
    text-align: left;
    background: #ffffff;
    cursor: pointer;
    &:after {
      position: absolute;
      top: 20px;
      right: 20px;
      content: ">";
      font-size: 20px;
      color: #000000;
    }
    .item-address {
      margin-top: 8px;
      font-size: 14px;
      color: #ccc;
    }
  }
}


.cinema-banner {
  img {
    width: 100%;
    height: 200px;
  }
}

.cinema-name {
  width: 100%;
  i {
    float: left;
    width: 14%;
    height: 40px;
    margin-top: 24px;
    font-size: 34px;
    color: #009688ab;
  }
  .cinema-location {
    float: right;
    width: 80%;
    padding: 20px 0 26px 0;
    margin: 10px 10px;
    border-bottom: 1px dotted #d6d6d6;
    text-align: left;
  }
}

.cinema-seat {
  width: 100%;
  i {
    float: left;
    width: 14%;
    height: 40px;
    margin-top: 34px;
    font-size: 34px;
    color: #fe8233b8;
  }
  .go-seat {
    position: relative;
    float: right;
    width: 80%;
    padding: 20px 0 26px 0;
    margin: 10px 10px;
    border-bottom: 1px dotted #d6d6d6;
    text-align: left;
    h3 {
      margin: 0 0 10px 0;
    }
    span {
      font-size: 14px;
      color: #737373;
    }
    button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 100px;
      height: 36px;
      border: 0;
      border-radius: 20px;
      color: #ffffff;
      background: #fe8233;
      cursor: pointer;
    }
  }
}

.cinema-address {
  width: 100%;
  i {
    float: left;
    width: 14%;
    height: 40px;
    margin-top: 22px;
    font-size: 34px;
    color: #03a9f494;
  }
  .cinema-location {
    float: right;
    width: 80%;
    padding: 20px 0 26px 0;
    margin: 10px 10px;
    border-bottom: 1px dotted #d6d6d6;
    text-align: left;
  }
}

.cinema-phone {
  width: 100%;
  i {
    float: left;
    width: 14%;
    height: 40px;
    margin-top: 22px;
    font-size: 34px;
    color: #e91e63ba;
  }
  .cinema-tel {
    float: right;
    width: 80%;
    padding: 20px 0 26px 0;
    margin: 10px 10px;
    border-bottom: 1px dotted #d6d6d6;
    text-align: left;
  }
}

.cinema-buy {
  position: fixed;
  bottom: 0;
  max-width: 600px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  background: #fe8233;
  cursor: pointer;
}

.choice {
  display: none;
  position: absolute;
  top: 200px;
  left: 50%;
  width: 300px;
  height: 220px;
  padding: 20px;
  margin-left: -150px;
  border-bottom: 1px solid #fe8233;
  text-align: left;
  color: #ffffff;
  background: #3c3c3c;
  &:before {
    display: inline-block;
    content: "";
    position: relative;
    top: -50px;
    left: -20px;
    width: 300px;
    height: 30px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    line-height: 2;
    background: #fe8233;
  }
  input {
    width: 80px;
    height: 30px;
    padding: 10px;
    margin: 20px 10px 0 20px;
    border: 0;
    border-radius: 10px;
  }
  button {
    position: absolute;
    left: 112px;
    bottom: 40px;
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    background: #fe8233;
  }
  .choice-err {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 100px;
    height: 30px;
    // background: #fe8233;
    color: red;
  }
}

.err {
  width: 200px;
  height: 40px;
  color: red;
}

.block {
  display: block;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: all 0.3s ease 0s;
}

@keyframes fadeInUp {
  from {
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  }
  to {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}

@keyframes fadeOut {
  from {
  opacity: 0;
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  }
  to {
  opacity: 1;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  }
}
