@import 'common.scss';

#detail {
  max-width: 600px;
  width: 100%;
  margin: 58px auto;
}

.movie-detail-img {
  img {
    width: 100%;
  }
}

.movie-detail-info {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  color: #000000;
  line-height: 24px;
  h3 {
    &:before {
      position: absolute;
      top: 1px;
      left: -20px;
      content: "";
      width: 10px;
      height: 20px;
      background: orange;
    }
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .bubbly-button {
    position: absolute;
    top: 20px;
    right: 2px;
    width: 80px;
    height: 40px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff0081;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    &:active {
      transform: scale(0.9);
      background-color: darken(#ff0081, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
    &:focus {
      outline-color: #ff0081;
    }
    &.animate {
      &:before {
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after {
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }
  }
}

.buy {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 160px;
  height: 30px;
  margin-left: -80px;
  border-radius: 20px;
  color: #ffffff;
  background: #fe8233;
  font-size: 14px;
  line-height: 30px;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
