body {
  background: #ffffff;
}

#film {
  width: 100%;
  .container {
    margin: 0 auto;
    background-color: #f4f4f4;
    @at-root {
      .film-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 5vh;
        background-color: rgba($color: #000000, $alpha: 0);
        z-index: 2;
        color: transparent;
        transition: all .4s ease;
      }
      .goBack {
        position: absolute;
        top: 6px;
        left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.8);
        color: #000;
        .icon-close {
          font-size: 26px;
          font-weight: bold;
        }
      }
      .title {
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 2.4;
      }
      .show {
        background-color: #fff;
        color: #000;
      }
      .film-img {
        width: 100%;
        height: 40vh;
        max-height: 300px;
        background-color: #383838;
        overflow: hidden;
        > img {
          position: relative;
          top: -20vh;
          width: 80%;
          max-width: 400px;
          height: 60vh;
          background-color: #e3e3e3;
        }
      }
      .film-info {
        padding: 0 18px;
        font-size: 13px;
        color: #797d82;
        text-align: left;
        background-color: #ffffff;
      }
      .film-name {
        width: 50%;
        padding: 4px 0;
        color: #000;
        text-align: left;
        :nth-child(1) {
          font-size: 18px;
        }
      }
      .film-grade {
        width: 50%;
        padding: 4px 10px 4px 0;
        text-align: right;
        color: #ffb232;
        span {
          font-size: 24px;
          font-weight: lighter;
          font-style: italic;
        }
      }
      .grey-text {
        padding: 4px 0;
      }
      .film-synopsis {
        height: 120px;
        transition: all .6s ease;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .toggle {
        cursor: pointer;
        text-align: center;
      }
      .hidden {
        height: 36px;
      }
      .scrollbar {
        overflow-x: auto;
        &::-webkit-scrollbar {
          height: 0;
        }
      }
      .actors {
        margin-top: 10px;
        padding: 4px 18px;
        background-color: #fff;
        text-align: left;
        color: #000;
        img {
          width: 80px;
        }
      }
      .actor-info {
        width: 1300px;
      }
      .actor-item {
        float: left;
        width: 100px;
        padding: 10px 6px;
      }
      .actor-name {
        font-size: 10px;
        color: #797d82;
        overflow: hidden;
        text-emphasis: ellipsis;
        span {
          width: 100%;
          text-align: center;
        }
      }
      .photos {
        margin-top: 10px;
        padding: 4px 18px 60px 18px;
        overflow-x: auto;
        background-color: #fff;
        text-align: left;
        color: #000;
        overflow-x: auto;
        &::-webkit-scrollbar {
          height: 0;
        }
      }
      .photos-info {
        img {
          width: 160px;
          height: 120px;
          padding: 10px 12px 10px 0;
        }
      }
      .photos-info {
        width: 1300px;
      }
      .photos-item {
        float: left;
      }
      .goSchedule {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #ff5f16;
        cursor: pointer;
        span {
          padding: 14px 0;
          font-size: 16px;
          color: #fff;
        }
      }
    }
  }
}

#cinema {
  .filter {
    border: 1px solid #e3e3e3;
    border-width: 1px 0;
  }
  .tabs-bar {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    padding-top: 44px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 0;
    }
  }
  .tabs-nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    box-align: center;
    align-items: center;
    width: 100%;
    color: #000;
    cursor: pointer;
    li {
      padding: 12px 10px;
      font-size: 13px;
      flex-shrink: 0;
    }
    .active {
      color: #ff5f16;
    }
    .tab-bottom {
      width: 15%;
      left: 12px;
    }
  }
  .tab {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    color: #000;
    cursor: pointer;
  }
  .district {
    width: 50%;
  }
  .specify {
    width: 50%;
  }
  .filter-box {
    position: relative;
    // transform: translate3d(-50%,0,0);
  }
  .districts {
    position: absolute;
    top: calc(40px * -3);
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    color: #000;
    opacity: 0;
    z-index: -1;
    background-color: #fff;
    transition: all .3s ease-in-out;
  }
  .district-item {
    display: inline-block;
    flex-shrink: 1;
    width: calc((100vw)/4);
    height: 40px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 12px;
  }
  .showDistructs {
    top: 0;
    opacity: 1;
    z-index: 2;
  }
  .cinema-item {
    display: flex;
    justify-content: flex-start;
    padding: 16px 10px;
    color: #000;
    text-align: left;
    cursor: pointer;
    .item-info {
      width: 76%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item-address {
      padding-top: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      color: #797d82;
    }
    .price {
      width: 24%;
      padding-left: 20px;
      color: #ff5f16;
      font-size: 12px;
      span {
        font-style: italic;
        font-size: 16px;
      }
    }
  }
}
