@import 'common.scss';

#home {
  width: 100%;
  color: #000000;
  .banner {
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    .iconfont {
      font-size: 8px;
    }
    @at-root {
      .location {
        position: absolute;
        top: 16px;
        left: 10px;
        width: 58px;
        height: 30px;
        border: none;
        border-radius: 20px;
        color: #fff;
        font-size: .8rem;
        background: rgba(0,0,0,0.40);
        line-height: 2.4;
        z-index: 20;
      }
      .el-carousel__indicators {
        transform: translateX(60%);
      }
      .el-carousel__button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
      img {
        width: 100%;
      }
    }
  }
  .container {
    margin: 0 auto;
    @at-root {
      span {
        display: inline-block;
      }
      .select-type {
        display: flex;
      }
      .select-item {
        position: relative;
        box-sizing: border-box;
        width: 50%;
        cursor: pointer;
        span {
          padding: 14px 0;
        }
        .selected {
          color: #ff5f16;
          border-bottom: 2px solid #ff5f16;
        }
      }
    }
  }
  .home-view {
    width: 100%;
    margin: 0 auto;
    margin-top: 6px;
    @at-root {
      .hot {
        margin: 0 16px;
      }
      a {
        color: #000000;
      }
      .moive {
        padding: 6px 0;
      }
      .movie-item {
        display: flex;
        position: relative;
        width: 100%;
        cursor: pointer;
      }
      .movie-item-img {
        width: 66px;
        height: 94px;
        background: #ffffff;
        img {
          width: 100%;
        }
      }
      .movie-item-info-col {
        padding: 2px 10px;
        font-size: 13px;
        text-align: left;
        color: #797d82;
      }
      .name {
        font-size: 15px;
        color: #000;
      }
      .item {
        width: 20px;
        height: 16px;
        padding: 0 2px;
        border-radius: 4px;
        line-height: 1.4;
        background-color: #d2d6dc;
        color: #fff;
      }
      .movie-item-actors {
        display: inline-block;
        width: 168px;
        vertical-align: bottom;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .movie-item-actor {
        padding-left: 2px;
      }
      .movie-buy {
        position: absolute;
        top: 30px;
        right: 1px;
        width: 54px;
        height: 26px;
        padding: 2px 6px;
        border: 1px solid #ff5f16;
        border-radius: 2px;
        font-size: 13px;
        color: #ff5f16;
      }
    }
    // .soon {
    //   margin: 40px 0;
    //   .soon-line {
    //     position: relative;
    //     width: 100%;
    //     margin-bottom: 30px;
    //     border-top: 1px solid #a8a8a8;
    //     &:before {
    //       position: absolute;
    //       top: -10px;
    //       left: 50%;
    //       content: '即将上映';
    //       width: 100px;
    //       height: 20px;
    //       margin-left: -50px;
    //       border-radius: 4px;
    //       background: #a7a7a7;
    //       color: #eeeeee;
    //     }
    //   }
    // }
  }
}





