body {
  background-color: #f6f6f6;
}

#login {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 100px auto;
  .form-group {
    position: relative;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    input {
      position: relative;
      display: block;
      width: 100%;
      height: 60px;
      padding: 12px 24px;
      border: none;
      border-radius: 0px;
      box-shadow: none;
      outline: none;
      background-color: #f6f6f6;
      font-size: 20px;
      line-height: 1.42857143;
      color: #555;
    }
    .input-bg {
      position: absolute;
      top: 36px;
      width: 100%;
      height: 12px;
      border-bottom:1px solid #c4c4c4;
    }
  }
  button {
    width: 163px;
    background-color: #fe8233;
    color: #fff;
    border: none;
    border-radius: 36px;
    margin-top: 45px;
    padding: 8px 12px;
    font-size: 15px;
    outline: none;
  }
  .register {
    background: #03A9F4;
  }
}


#mine {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 58px auto;
  .user {
    width: 100%;
    img {
      max-width: 600px;
      width: 100%;
      height: 240px;
    }
    .user-show {
      max-width: 600px;
      width: 100%;
      height: 340px;
      margin-top: 20px;
      .user-info {
        width: 100%;
        height: 340px;
        padding: 20px;
        border-radius: 10px;
      }
      .user-movie {
        width: 100%;
        height: 340px;
        padding: 20px;
        border-radius: 10px;
      }
    }
  }
}

.login-item {
  display: none;
}

.loginUp {
  display: block !important;
  animation: loginShow 2s cubic-bezier(0.4, 0, 1, 1) 0s 1;
}

.register-item {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  backface-visibility: hidden;
}


@keyframes loginShow {
  0% {
    top: -30px;
    right: -30px;
    opacity: 0;
    transform: perspective(500px) translate3d(10px, 0px, -50px) rotatey(90deg);
  }
  50% {
    top: -15px;
    right: -15px;
    opacity: 0.5;
    transform: perspective(250px) translate3d(5px, 0px, -25px) rotatey(45deg);
  }
  50% {
    top: 0;
    right: 0;
    opacity: 1;
    transform: perspective(0px) translate3d(0px, 0px, 0px) rotatey(0deg);
  }
}
