#pay {
  position: relative;
  width: 100%;
  margin: 0 auto;
  @at-root {
    .pay-info {
      margin: 40px 20px;
      font-size: 20px;
      color: #000;
    }
    .pay-info-item {
      display: flex;
      justify-content: flex-start;
      justify-items: center;
      align-items: center;
      margin-top: 20px;
      .iconfont {
        font-size: 40px;
        color: #ff5f16;
      }
      :nth-child(2) {
        padding-left: 16px;
      }
    }
    .pay {
      font-size: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .6);
      transition: all .4s ease-in-out;
      &:active {
        transform: scale(.5);
      }
    }
  }
}
