@import 'common.scss';

#sidebar {
  position: fixed;
  top: 58px;
  left: -800px;
  max-width: 800px;
  width: 80%;
  height: 100%;
  background: #000000;
  opacity: .8;
  transition: all 1s cubic-bezier(0.47, 0, 0.75, 0.72);
  z-index: 1;
  ul {
    padding: 0;
    margin: 0;
  }
  .item {
    width: 100%;
    color: #9a9a9a;
    list-style: none;
    span {
      float: left;
    }
    i {
      float: right;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 60px;
      padding: 20px;
      border-bottom: 1px solid #333;
      color: #9a9a9a;
    }
  }
}
.active {
  left: 0 !important;
}
